.summary-top{
	background-color:  #2b1266;	
	text-align: center;
}

.summary-top h4, .summary-top p, .summary-top table{
	color: #d7d2e3 !important;
	font-weight: 600;
}


.item-stock-holder{
	background-color:  #2b1266 !important;	
}
/*
table.table.data tbody tr.rowlink:not(.nolink):hover td{
	
	color:#666 !important
}*/

/* media-query */
/*special breakpoint */
@media (min-width: 1024px) { 
	.quantity, .op_type, .balance_quantity,.stkbtn,.edit, .photo{
		width: 100%;
	}
	.balance_quantity,.stkbtn{
		margin-top: 10px;
	}

}

@media (min-width: 1200px) { 

	.balance_quantity,.stkbtn{
		margin-top: 10px;
	}
}

@media (min-width: 768px) { 
	.stkbtn,.op_type{
		margin-top: 10px;
	}
}

